header, main, footer {
  padding-left: 300px;
}

.sidenav .user-view .background {
  bottom: auto;
}

.sidenav.sidenav-fixed {
  height: 110vh;
}

.sidenav .user-view .circle {
  height: 260px;
  width: 200px;
  margin-left: 20px;
}
.sidenav li a{
  color:rgb(100, 188, 212);
}

.name {
  text-align: center;
  font-size: 1.5em !important;
}
nav {
  background-color: rgb(40, 125, 148);
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .sidenav .user-view .circle {
    margin-left: 30px;
  }
}

@media only screen and (max-width : 400px) {
  .sidenav .user-view .circle {
  
    height: 200px;
    width: 150px;
    margin-left: 20%;
  }
}